.card {
  background-color: #bbada0;
  border-radius: 4px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 60px;

  &.card-number {
    border: 1px solid #bbada0;
    background-color: transparent;
    height: 70px;
    width: 100%;

    .card-header {
      color: #776e65;
    }

    .card-body {
      color: #5f5851;
      font-size: 40px;
    }
  }

  .card-header {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: #eee4da;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-body {
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-align: center;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
