.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  font-family: "Jua", sans-serif;

  @media screen and (max-width: 500px) {
    min-height: 90vh;
  }

  .container {
    border: 1px solid gray;
    padding: 20px;
    width: 500px;
    height: 700px;

    @media screen and (max-width: 500px) {
      width: 100%;
      height: auto;
      border: 0;
    }
  }

  overscroll-behavior: contain;
}

body {
  background-color: #faf8ef;
  color: #776e65;
  overscroll-behavior: contain;
  overscroll-behavior-y: none;

  @media screen and (max-width: 500px) {
    position: fixed;
    overflow: hidden;

    #root {
      width: 100vw;
      height: 100vh;
    }
  }
}

.none-drag {
  // drag 방지
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  // 파란색 하이라이트 제거
  -webkit-tap-highlight-color: transparent;
}
