.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #faf8ef;
  color: #776e65;

  .container {
    border: 1px solid gray;
    padding: 20px;
    width: 500px;
    height: 700px;
  }
}
